<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
        <h1 class="text-light"><a routerLink='/'><span>El Sol de maneiro</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li ><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/menu">Menu</a></li>
            <li><a routerLink="/galeria">Galeria</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->